<section>
    <div class="d-flex justify-content-between mt-3">
      <h4>Lista de facturas</h4>
      <a routerLink="/createBill" class="btn btn-success">Crear nueva factura</a>
    </div>

    <br>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">IMAGEN</th>
            <th scope="col">ACCION</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>dddd</td>
            <td>ddd</td>
            <td>ddd</td>
            <td>
                <a href="#" class="btn btn-outline-primary ms-2">Edit</a>
                <button type="button"  class="btn btn-outline-danger ms-2">Delete</button>
              </td>
          </tr>
    
        </tbody>
      </table>
    

