<section class="scroll">
  <div class="d-flex justify-content-between mt-3">
    <h4>Lista de facturas</h4>
    <a routerLink="/createBill" class="btn btn-success">Crear nueva factura</a>
  </div>

  <hr>
  <div *ngIf="message" class="alert alert-danger alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <table class="table align-middle">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">VENDEDOR</th>
        <th scope="col">COMPRADOR</th>
        <th scope="col">VALOR ANTES DEL IVA</th>
        <th scope="col">IVA</th>
        <th scope="col">TOTAL</th>
        <th scope="col">ACCIONES</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bill of bills">
        <th scope="row">{{bill.id}}</th>
        <td>
          <div>
            <p>NIT: {{bill.seller_nit}}</p>
            </div>
            <div>
              <p>NOMBRE: {{bill.seller_name}}</p>
            </div>
        </td>
        <td>
          <div>
          <p>NIT: {{bill.buyer_nit}}</p>
          </div>
          <div>
            <p>NOMBRE: {{bill.buyer_name}}</p>
          </div>
        </td>
        <td>
          $ {{bill.value_before_iva}}
        </td>
        <td>
          $ {{bill.iva}}
        </td>

        <td>
          $ {{bill.total_pay}}
        </td>
        <td>
        <td>
          <!-- Button trigger modal seller -->
          <button type="button" (click)="showItem(bill.id)" class="btn btn-primary btn-sm" data-bs-toggle="modal"
            data-bs-target="#staticBackdro">
            Informacion de factura
          </button>

          <!-- Modal seller -->
          <div class="modal fade " id="staticBackdro" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog modal-xl">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Mas Información</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                  <div class="main">
                    <div class="container mt-3">
                      <div class="card animate__animated animate__fadeIn">
                        <div class="card-header">
                          Fecha
                          <strong>{{bill.created_at}}</strong>

                        </div>
                        <div class="card-body">

                          <div class="table-responsive-sm">
                            <table class="table table-sm table-striped">
                              <thead>
                                <tr>
                                  <th scope="col" width="2%" class="center">#</th>
                                  <th scope="col" class="d-none d-sm-table-cell" width="40%">Descripción</th>
                                  <th scope="col" width="8%" class="text-right">Num.</th>
                                  <th scope="col" width="10%" class="text-right">Total</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of items">
                                  <td class="text-left">{{item.id}}</td>
                                  <td class="item_name">{{item.description}}</td>
                                  <td class="item_desc d-none d-sm-table-cell">{{item.amount}}</td>
                                  <td class="item_desc d-none d-sm-table-cell">{{item.value}}</td>

                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="row">
                            <div class="col-lg-4 col-sm-5">
                            </div>


                          </div>

                        </div>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </td>
        <td>
          <button type="button" (click)="deleteBill(bill.id)" class="btn btn-danger btn-sm px-3">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>