<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
  </style>

  
  <!-- Custom styles for this template -->

<section class="text-center">
  
<main class="form-signin">
<form [formGroup]="form" (ngSubmit)="login()">
  <img class="mb-4" src="../../../assets/miLogo.png" alt="" width="72" height="57">
  <h1 class="h3 mb-3 fw-normal">Inicio de sessión</h1>

  <div *ngIf="message" class="alert alert-danger" role="alert">
    {{message}}
  </div>

  <div class="form-floating">
    <input type="email" class="form-control" id="email" formControlName="email" placeholder="name@example.com">
    <label for="floatingInput">Email</label>
    <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
      <div *ngIf="f['email'].errors && f['email'].errors['required']">El correo es requerido.</div>
      <div *ngIf="f['email'].errors && f['email'].errors['email']">Debes ingresar un correo valido</div>
  </div>
  </div>

  <div class="form-floating">
    <input type="password" class="form-control" id="password"  formControlName="password" placeholder="Password">
    <label for="floatingPassword">Contraseña</label>
    <div *ngIf="f['password'].touched && f['password'].invalid" class="alert alert-danger">
      <div *ngIf="f['password'].errors && f['password'].errors['required']">La contraseña es requerida.</div>
      <div *ngIf="f['password'].errors && f['password'].errors['minlength']">La contraseña debe contener minimo 8 caracteres</div>
  </div>
  </div>

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Recordarme
    </label>
  </div>
  <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="!form.valid">Entrar</button>
</form>
</main>
</section>