<div class="d-flex justify-content-between mt-3">
    <h4>Formulario de registro</h4>
    <a href="#" [routerLink]="['/login']" routerLinkActive="router-link-active"
        class="btn btn-primaryt">Atras</a>
</div>

<hr />

<div *ngIf="message" class="alert alert-danger" role="alert">
    {{message}}
  </div>

<div class="form">

    <form [formGroup]="form" (ngSubmit)="saveUser()">

        <div class="form-group mt-3">
            <input placeholder="Nombre" type="text" class="form-control" id="name" formControlName="name">
            <div *ngIf="f['name'].touched && f['name'].invalid" class="alert alert-danger">
                <div *ngIf="f['name'].errors && f['name'].errors['required']">El campo nombre es requerido.</div>
                <div *ngIf="f['name'].errors && f['name'].errors['pattern']">El nombre no debe contener numeros.</div>
            </div>
        </div>
        <div class="form-group mt-3">
            <input placeholder="Email" type="text" class="form-control" id="email" formControlName="email">
            <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
                <div *ngIf="f['email'].errors && f['email'].errors['required']">El correo es requerido.</div>
                <div *ngIf="f['email'].errors && f['email'].errors['email']">Debes ingresar un correo valido</div>
            </div>
        </div>
        <div class="form-group mt-3">
            <input placeholder="Contraseña" type="password" class="form-control" id="password" formControlName="password">
            <div *ngIf="f['password'].touched && f['password'].invalid" class="alert alert-danger">
                <div *ngIf="f['password'].errors && f['password'].errors['required']">La contraseña es requerida.</div>
                <div *ngIf="f['password'].errors && f['password'].errors['minlength']">La contraseña debe contener minimo 8 caracteres</div>
            </div>
        </div>


        <button class="btn btn-primary mt-3" type="submit" [disabled]="!form.valid">Guardar</button>
    </form>
</div>